<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>173828986729-e7nonfj85788m87cq8sldrtv3bg3g83q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.173828986729-e7nonfj85788m87cq8sldrtv3bg3g83q</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>173828986729-icdk2kqm9t193sgki9lnfm8stsbjf9t3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD77gAIp1qv7wKfogrPbfnV2Ntf-aIsF18</string>
	<key>GCM_SENDER_ID</key>
	<string>173828986729</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.weChat</string>
	<key>PROJECT_ID</key>
	<string>we-chat-7b125</string>
	<key>STORAGE_BUCKET</key>
	<string>we-chat-7b125.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:173828986729:ios:118f0f944c609df14c8ff8</string>
</dict>
</plist>